<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!-- 	<typeAliases>
		<typeAlias alias="USER" type="ensign.pojo.User" />
	</typeAliases> -->

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/ensign?useUnicode=true&amp;characterEncoding=utf-8" />
				<property name="username" value="root" />
				<property name="password" value="123456" />
				<property name="poolPingQuery" value="SELECT id FROM USER WHERE id = 1" />
                <property name="poolPingEnabled" value="true" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="ensign/mapper/UserMapper.xml" />
	</mappers>
</configuration>